.custom-button {
    float: left;
}

.custom-title {
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 9px !important;
}

.vertical-align {
}