.default-img {
    height: 20vw;
}

.hide-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.my-card {
    margin-left: 3vw;
    margin-right: 1vw;
    width: 45% !important;
    float: left;
}