.main_title{
    color: white;
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.35em;
    padding-left: 1.20em;
    margin-top: 0;
    position: sticky;
    top: 0;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
}