.custom-friend-petition-icon {
    float: right;
}

.custom-friend-petition-icon ion-icon {
    font-size: 5vw;
}

.custom-text-date-fp {
    position: absolute;
    top: 35%;
}

.custom-col-fp {
    vertical-align: bottom;
    position: relative;
    padding: 0;
}

.custom-notification-grid {
    padding-bottom: 0;
}