.avatar{
    height: 100px;
    width: 100px;
    margin-top: 5%;
    margin-left: 5%;
    float: left;
}
.namelabel{
    font-variant: small-caps;
    margin-top: 10%;
    margin-left: 4%;
    float: left;
    font-size: 25px;
    width: 200px;
}
.botton{
    margin-top: 3%;
    margin-left: 4%;
    background-color: rgb(164, 78, 245);
    border-radius: 20px;
    height: 20px;
}

.remove-user-image{
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 1.3rem;
    z-index: 20000000000000000000;
}