.popover-img {
    height: 40vw;
}

.popover-spinner {
    height: 40vw;
}

.center-spinner {
    text-align: center;
}

.my-custom-ion-card {
}

.my-custom-class .popover-content {
    width: 80%;
    height: 60%;
    top: 20%; 
    left: 10%;
}

.my-custom-class ion-card-header {
    height: 60%;
}


.my-custom-class .my-custom-ion-card {
    height: 110%;
}