.popover-img {
    height: 50vw;
}

.popover-spinner {
    height: 40vw;
}

.center-spinner {
    text-align: center;
}

.my-custom-ion-card {
    margin: 0;
    padding: 10px;
}

.my-custom-class .popover-content {
    width: 80%;
    top: 20%; 
    left: 10%;
}