.logoimage{
    width: 12em;
    height: 3em;
}

.custom-icons {
    float: right;
}

.custom-icon {
    position: relative;
}

.custom-icon ion-icon {
    font-size: 1.5rem;
    margin: 0 !important;
    padding: 0 !important;
}

.my-badge {
    font-size: 0.6rem;
    position: absolute;
    top: 25px;
    right: -25px;
}