.empty-folder-div {
    width: 30%;
    margin: auto;
}

.format-text3 {
    font-size: 7vw;
    color: rgb(144, 19, 254);
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

.center-text-empty-folder {
    display: inline-block;
    margin: auto;
}

.center-empty-folder-div {
    position: absolute;
    top: 30%;
    width: 100%;
}