.edit-avatar{
    height: 100px;
    width: 100px;
}

.ion-padding-vertical {
    --padding-top: var(--ion-padding, 26px);
    --padding-bottom: var(--ion-padding, 26px);
    padding-top: var(--ion-padding, 26px);
    padding-bottom: var(--ion-padding, 26px);
}