.edit-avatar{
    height: 100px;
    width: 100px;
    position: relative;
    text-align: center;
}

.edit-avatar-membrane {
    position: absolute;
    height: 100px;
    width: 100%;
    font-size: 3rem;
    z-index: 200000;
    background-color: rgba(89, 89, 89, 0.6);
    border-radius: var(--border-radius);
    display: flex;
    align-items:center;
    justify-content:center;
    color: #cccccc;
}


.ion-padding-vertical {
    --padding-top: var(--ion-padding, 26px);
    --padding-bottom: var(--ion-padding, 26px);
    padding-top: var(--ion-padding, 26px);
    padding-bottom: var(--ion-padding, 26px);
}


.remove-user-image{
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 1.3rem;
    z-index: 20000000000000000000;
}