.format-text2 {
    font-size: 2.3rem;
    color: rgb(144, 19, 254);
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

.center-complete{
    position: absolute;
    top: 72%;
    right: 0%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}