.my-custom-content ion-spinner{
    text-align: center;
}

.custom-friends-title {
    margin: 5px 10px;
    font-weight: 700;
    font-size: 1.5rem;
}

/*.custom-ion-search-bar-friends {
}*/

.img-custom{
    height: 300px;
    width: 300px;
    margin-left: 13%;
    margin-top: 20%;
}