.my-custom-content ion-spinner{
    text-align: center;
}

.custom-friends-title {
    margin: 5px 10px;
    font-weight: 700;
    font-size: 1.5rem;
}

.custom-ion-search-bar-friends {
    border: 5px var(--ion-toolbar-background) solid;
}

.img-custom{
    height: 300px;
    width: 300px;
    margin-left: 13%;
    margin-top: 20%;
}

.center-empty-friends-div {
    position: absolute;
    top: 5%;
    left: 23%;
    width: 60%;
    height: 20px;
    text-align: center;
}

.format-text-notifications {
    font-size: 5vw;
    color: rgb(144, 19, 254);
    font-family: 'Nunito', sans-serif;
    margin: auto;
}