.custom-text {
    font-weight: 700;
}

.custom-notification-icon {
    width: 30% !important;
}

.custom-close {
    margin-inline-start: 0 !important;
    position: absolute;
    top: 10px;
    right: 10px;
    --min-height: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.custom-notification-title {
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 10px;
}

.custom-parse-notification-date {
    font-size: 0.9rem;
}