.custom-text {
    font-weight: 700;
}

.custom-notification-icon {
    width: 30% !important;
}

.custom-notification-check * {
    color: green;
    font-weight: 800;
}

.custom-notification-close * {
    color: red;
}