.my-custom-class .popover-content { 
  padding: 15px;
}

.my-custom-class .popover-viewport {
    text-align: right;
}

.my-custom-class .my-custom-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 3vw;
}