.my-custom-modal-css .modal-wrapper {
  height: 30%;
  top: 70%;
  position: absolute; 
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
}

.custom-add-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.custom-add-title * {
  font-size: 1.7rem;
  margin: auto;
}

body.dark .my-custom-modal-css .modal-wrapper {
  background-color: #161616;
}